* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    margin: 0 auto;
    padding: 0;
    font: 16px/1.5 -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    background: #f8f8f8;
}

canvas {
    margin: auto;
    background: #fff;
}

@media (min-width: 640px) {}

@media (min-width: 960px) {}

@media (min-width: 1280px) {}